{% if url %}
<a href='{{ url }}' class='{{ additional_classes }}' target='{{ target|default('_self') }}'>
        {% if icon %}
            {% include 'atoms/icon.twig' %}
        {% endif %}
        {{ title|raw }}
    </a>
{% endif %}
