<h1>{{ 'We konden niet vinden waar u naar op zoek was.'|translatable }}</h1>
<p>{{ 'Helaas kon de pagina waarnaar u zocht niet worden gevonden. Het kan zijn verplaatst of niet meer bestaan.'|translatable }}</p>
<p>{{ 'Controleer de URL die je hebt ingevoerd voor eventuele fouten en probeer het opnieuw. Alternatief, zoek naar wat er ontbreekt of kijk rond op de rest van onze site.'|translatable }}</p>
