<div class="grid gap-2 pb-8 border-b border-neutral-25">
    <h6 class="h-size mb-0">{{ info_label }}</h6>
        {% include 'atoms/text.twig' with {text: content|raw} %}
        {% if link %}
            {% include 'atoms/link.twig' with {
                url: link.url,
                title: link.title,
                target: link.target,
                additional_classes: 'underline text-primary'
                } %}
        {% endif %}
</div>
