{% set text_color = wrapper_background == 'bg-white' ? 'text-black' : 'text-white' %}
{% set content_block = {
    title: title,
    title_size: title_size,
    sub_title: sub_title,
    subtitle_color: subtitle_color,
    content: content,
    buttons: buttons
} %}
<section class='w-screen p-2 py-10 md:p-10 md:py-14'>
    <div class='container'>
        <div class='flex flex-col items-start md:flex-row-reverse gap-16 mx-auto justify-center p-6 lg:p-14 rounded-xl {{ wrapper_background }}'>
            <section class='flex flex-col md:w-2/3 w-full ml-3 {{ text_color }}'>
                {% include 'molecules/side-content.twig' with content_block %}
            </section>
            <figure>
                {% include 'atoms/image.twig' with {'image': image_id} %}
            </figure>
        </div>
    </div>
</section>
