<section class="w-screen p-2 py-6 md:p-10 md:py-14 {{ wrapper_background }}">

	<div class='container'>
		<div class="flex flex-col md:flex-row mx-auto gap-8 justify-between">

			{% for info_box in repeater_items %}
				{% set text_color = info_box.box_background == 'bg-secondary' ? 'text-white' : 'text-black' %}
				{% set icon_color = info_box.box_background == 'bg-secondary' ? 'text-white' : 'text-primary' %}

				{% include 'molecules/info-box.twig' with {
					box_icon		: info_box.box_icon,
					box_icon_size	: info_box.box_icon_size.url,
					color			: icon_color,
					text_color		: text_color,
					info_box		: info_box,
				} %}
			{% endfor %}
		</div>
	</div>

</section>
